.item {
    margin: 1rem 0;
}

.content {
    text-align: left;
    padding: 1rem;
    color: rgb(0, 0, 0);
}

.container h1 {
    font-size: 1.8rem;
}

.content .date {
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.container {
    display: flex;
    margin-bottom: -20px;
    margin-top: -20px;
    justify-content: space-between;
}